* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: darkgray;
	height: 1500px;
}

#box {
	width: 900px;
	height: auto;
	background: #FFA500;
	color: #361B0C;
	margin: 20px;
	padding: 20px;
	text-align: center;
	border: 5px dotted #FFFFFF;
}

#box h1 {
	text-align: center;
}

#box img {
	width: 70%;
	margin: center;
}

#box p {
	font-size: 16px;
	text-align: justify;
}

.centered-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.link {
	width: 200px;
	text-align: center;
	display: inline-block;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 10px;
	text-decoration: none;
	color: #333;
	border-radius: 5px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	transition: background-color 0.3s;
}

.link:hover {
	background-color: #e0e0e0;
}